<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hikinglog_fe">
    <!-- 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 파일 외부 저장소 접근 권한 추가(게시물 post에 사용) -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HikingLog_FE"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LiveRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MapLocationActivity"
            android:exported="false" />
        <activity
            android:name=".MyPostsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantDetailActivity"
            android:exported="false" />
        <activity
            android:name=".AccommodationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".RealTimeRecordActivity"
            android:exported="false" />
        <activity
            android:name=".DirectRecordActivity"
            android:exported="false" />
        <activity
            android:name=".HikingRecordActivity"
            android:exported="false" />
        <activity
            android:name=".MountainInfoActivity"
            android:exported="false" />
        <activity
            android:name=".NationalMountainsActivity"
            android:exported="false" />
        <activity
            android:name=".HikingCourseActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".CourseDetailActivity"
            android:exported="false" />
        <activity
            android:name=".CreateCourseActivity"
            android:exported="false" />
        <activity
            android:name=".Top100Activity"
            android:exported="false" />
        <activity
            android:name=".MyBookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".SafetyGuideActivity"
            android:exported="false" />
        <activity
            android:name=".AccommodationActivity"
            android:exported="false" />
        <activity
            android:name=".RestaurantActivity"
            android:exported="false" />
        <activity
            android:name=".EquipmentShopActivity"
            android:exported="false" />
        <activity
            android:name=".AddPostActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="com.kakao.vectormap.APP_KEY"
            android:value="b054d4aac052e2c90ddc6fee33f06119" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD9g650J2YbbVvb7cmwlLdrceZBHkzFKLM" />
    </application>

</manifest>